<div class="part one">
  <div class="preamble">
    <h2>HEY Y'ALL!</h2>
    <p>See what Donald Trump's opinion of you would be by putting in your name and checking off any incidental things on the list below that you happen to also be.
      Incidental things, as in a certain gender, race, religion, culture, y'know... stuff like that. Whatever, not important. Just protocol.</p>
    <p>You MUST check off the ones that apply! Trump's opinions just won't be accurate without 'em!</p>
    <p>Make America great again!</p>
    <div class="form">
      <%= form_for @person do |f| %>
      <fieldset>
        <%= f.label "Name:" %>
        <%= f.text_field :name %>
      </fieldset>
      <fieldset>
        <p><strong>ONLY check the boxes below IF they apply:</strong></p>
        <div class="choices">
          <% @traits.each do |trait| %>
            <% unless trait.id >= 5 %>
            <label>
              <p><%= trait.trait.capitalize %></p>
              <%= check_box_tag 'trait[]', trait.id %>
            </label>
            <% end %>
          <% end %>
        </div>
      </fieldset>
        <%= f.submit "Get Trump's opinion!", id: "submit" %>
      <% end %>
    </div>
  </div>
</div>

<div class="part two">
  <div class="preamble">
    <h2>DATABASE</h2>
    <p>Below is the database for all generated opinions.<br>
      Use the form to generate more data.</p>
    <div class="table">
      <table>
        <tr>
          <thead>
            <th>Name</th>
            <th>Opinion</th>
            <th>Trump says:</th>
          </thead>
        </tr>
        <tbody>
          <% @people.each do |person| %>
            <% name = person.name.split(' ').each { |word| word.capitalize! } %>
            <% name = name.join(" ") %>
            <tr>
              <td><%= name %></td>
              <td><%= person.opinion.status.capitalize %></td>
              <td><%= person.message.message %></td>
            </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>
