<!DOCTYPE html>
<html>
  <head>
    <title>TrumpsPocketbook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Adamina" rel="stylesheet">
  </head>
  <body>
    <div class="bar">
      <h1>TRUMP OPINION GENERATOR</h1>
      <h2>MAKE AMERICA GREAT AGAIN!</h2>
    </div>
    <% if flash[:message] %>
      <div class="flash"><%= flash[:message] %></div>
    <% end %>
    <div class="shell">
      <%= yield %>
    </div>
    <div class="footer">
      <p>Disclaimer: This website is entirely satire. The opinions are randomly generated quotes, and the site is nothing more than an unorthodox exercise on web databases, data migrations, and associations.</p>
  </body>
</html>
